<h2>Methods that were not run</h2><table>
<tr><td>com.skysite.testscripts.SkySiteRegressionSuite1.verifyProjectCreation<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>TC_04: Verify project creation.</i></td></tr>
<tr><td>com.skysite.testscripts.SkySiteRegressionSuite1.verifyLoginWithInvalidCredential<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>TC_04: Verify login with invalid credential.</i></td></tr>
<tr><td>com.skysite.testscripts.SkySiteRegressionSuite1.verifyLandingOfLoginPage<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>TC_02: Verify successful landing of Login Page.</i></td></tr>
<tr><td>com.skysite.testscripts.SkySiteRegressionSuite1.verifyLoginWithValidCredential<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>TC_03: Verify login with valid credential.</i></td></tr>
</table>