<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SkySite Regression Test</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e88b9c">  <td>17/11/04 09:40:39</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SkySiteRegressionSuite1.verifyAppLaunch()[pri:0, instance:com.skysite.testscripts.SkySiteRegressionSuite1@cb644e]">verifyAppLaunch</td> 
  <td>main@902919927</td>   <td></td> </tr>
</table>
