<h2>Reporter output</h2><table><tr><td>&emsp;<div class="test-title"> <strong><font size = "3" color = "#000080">Verify successful Application launch.</font> </strong> </div>&emsp;<div><strong>Steps:</strong></div><!-- Report -->&emsp;</td></tr>
<tr><td><div class="test-message">&emsp;Browser Launched and maximized successfully</div></td></tr>
<tr><td><div class="test-message">&emsp;Splash page objects initiated successfully</div></td></tr>
<tr><td><div class="test-message">&emsp;Waiting for 'SignIn' button to be appeared</div></td></tr>
<tr><td><div class="test-message">&emsp;SkySite application lanched successfully.</div></td></tr>
</table>